.nav {
    grid-area: n;
    /* background-color: #f50713; */
    background-color: #faf5fa;
    padding: 20px;
    z-index: 1;
}

.item a {
    color: #382557;
    text-decoration: none;
}

.item a.active {
    color: #a974fe;
}

.none {
    display: none;
}
.eclipse {
    background-color: #e7dffb;
}