.img {
    width: 900px;
    height: 250px;
}

.item {
    color: bisque;
}

.descriptionBlock {
    padding: 10px;
}

.mainPhoto {
    max-width: 200px;
    border-radius: 50%;
}

.contact {
    padding-left: 10px;
}