.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;    
    margin: 15px 35px;
    font-weight: 500;
}

.dialogsItems {
    color: #382557;
    font-family: inherit;
}

.dialogsItems .active {
    color: rgb(255, 0, 212);
}

.messages {
    color: #382557;
}

.messages .message {
    color: #382557;;
}

.input {
    margin-top: 30px;
    height: 30px;
}

.btn {
    border: none;
    background-color: white;
    min-width: 80px;
    height: 25px;
    font-weight: 500;
    font-family: inherit;
    color: inherit;
}